[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-jazzmin = "*"
djangorestframework = "*"
djoser = "*"
django-filter = "*"
django-rest-swagger = "*"
drf-yasg = "*"
django-debug-toolbar = "*"
django-rest-framework-nested = "*"
drf-nested-routers = "*"
pillow = "*"
django-baton = "*"

[dev-packages]

[requires]
python_version = "3.8"
